<configuration>
    <if condition='property("show.metric.logs").equals("true")'>
        <then>
            <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
                <encoder>
                    <pattern>
                        %highlight(%-5level) %cyan(%logger{0}) %green(%X{testName}) - %msg%n
                    </pattern>
                </encoder>
            </appender>
            <root level="DEBUG">
                <appender-ref ref="STDOUT"/>
            </root>
        </then>
        <else>
            <root level="OFF"/>
        </else>
    </if>
</configuration>